a{
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    font-family: Constantia;
}
.photosCorgi img{
    height: 200px;
    width: 250px;
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
p, h1, h2, ul, li,a {
    font-family: Constantia;
    color: #5a5a5a;
}
h1,h2{
    text-align: center;
}
a:hover{
    color: #ff00e5;
    text-decoration: underline;
}
.topBody, .footer{
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );}
.menu, .video, .text, .photos, .gifCorgi{
    background-color: rgb(255, 240, 254);
}